*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    border: none;
}
.body {
    font-family: 'Chivo Mono', monospace;
}
.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.m-5 {
    margin: 5rem;
}
.m-10 {
    margin: 10rem;
}
.relative{
    position: relative;
}
.section-title {
    font-size: 2.8rem;
    color: #05520D;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
}
.nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-li:not(:last-child) {
    margin-right: 5rem;
}
.nav-link {
    font-size: 2.4rem;
    text-decoration: none;
    color: #863503;
}
.input {
    background-color: #fff1e8;
    border-radius: 0.7rem ;
    padding: 1rem;
}
.search-icon{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform:translateY(-50%) ;
} 
.about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 90%; 
    color: #863503;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map iframe {
    border-radius: 1.6rem;
}
address span {
    font-weight: bold;
}
.about-info address span,
.about-info div time, 
.about-info ul li {
    font-size: 1.8rem;
    display: block;
}
.about-info address span:not(:last-child),
.about-info div time:not(:last-child),
.about-info ul li:not(:last-child)
{
    margin-bottom: 2rem;
}
.hamburger { 
    display: none;
    cursor: pointer;
}
.bar { 
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
transition: all 0.3 ease-in-out;
background-color: rgb(3, 3, 3);
}

@media screen and (max-width:928px) {

.hamburger { 
    display: block;
}
.hamburger.active .bar:nth-child(2){ 
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){ 
    transform: translateY(8px) rotate(45deg);

}
.hamburger.active .bar:nth-child(3){ 
  transform: translateY(-8px) rotate(-45deg);
}
.nav-ul { 
    display: flex;
    position:absolute;
    left: -100%;
    width: 100%;
    height: 53vh;
    top: 100px;
    display: flex;
    background-color: bisque;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.bar { 
    transition: 1s ease;
}

.nav-ul.active { 
    left: 0;

}
.input { 
    display: flex;
}

}
